In [17]:
from datetime import datetime
import pandas as pd
from feast import FeatureStore

In [18]:
store = FeatureStore(repo_path=".")

In [37]:
entity_df = pd.DataFrame.from_dict(
    {
        "customer_id": [1, 2, 3, 4, 230],
        "event_timestamp": [
            datetime(1992, 4, 2, 10, 59, 42),
            datetime(1992, 4, 2, 8, 12, 10),
            datetime(1992, 4, 2, 16, 40, 26),
            datetime(1992, 4, 2, 15, 1, 12),
            datetime(1994, 4, 3, 15, 1, 12),
        ]
    }
)

entity_df['customer_id'] = entity_df['customer_id'].astype('int32')

In [38]:
entity_df

   customer_id     event_timestamp     other_timestamp
0            1 1992-04-02 10:59:42 1992-04-02 10:59:42
1            2 1992-04-02 08:12:10 1992-04-02 08:12:10
2            3 1992-04-02 16:40:26 1992-04-02 16:40:26
3            4 1992-04-02 15:01:12 1992-04-02 15:01:12
4          230 1994-04-03 15:01:12 1994-04-03 15:01:12

In [39]:
entity_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customer_id      5 non-null      int32
 1   event_timestamp  5 non-null      datetime64[ns]
 2   other_timestamp  5 non-null      datetime64[ns]
dtypes: datetime64[ns](2), int32(1)
memory usage: 228.0 bytes

In [40]:
training_df = store.get_historical_features(
    entity_df=entity_df,
    features=[
        "customer_hourly_stats:category",
        "customer_hourly_stats:order_gmv",
        "customer_hourly_stats:sex",
    ],
).to_df()

In [41]:
training_df

Empty DataFrame
Columns: [customer_id, event_timestamp, other_timestamp, category, order_gmv, sex]
Index: []