In [47]:
from datetime import datetime
import pandas as pd
from feast import FeatureStore

In [48]:
store = FeatureStore(repo_path=".")

In [70]:
entity_df = pd.DataFrame.from_dict(
    {
        "customer_id": [1, 2, 3, 4, 230,10000000],
        "event_timestamp": [
            datetime(1992, 4, 2, 0, 0, 0),
            datetime(1992, 4, 2, 0, 0, 0),
            datetime(1992, 4, 2, 0, 0, 0),
            datetime(1992, 4, 2, 0, 0, 0),
            datetime(1992, 4, 3, 0, 0, 0),
            datetime(1992, 4, 3, 0, 0, 0)
        ]
    }
)

entity_df['customer_id'] = entity_df['customer_id'].astype('int32')

In [71]:
entity_df

   customer_id event_timestamp
0            1      1992-04-02
1            2      1992-04-02
2            3      1992-04-02
3            4      1992-04-02
4          230      1992-04-03
5     10000000      1992-04-03

In [72]:
entity_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customer_id      6 non-null      int32
 1   event_timestamp  6 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int32(1)
memory usage: 200.0 bytes

In [73]:
training_df = store.get_historical_features(
    entity_df=entity_df,
    features=[
        "customer_hourly_stats:category",
        "customer_hourly_stats:order_gmv",
        "customer_hourly_stats:sex",
    ],
).to_df()

In [74]:
training_df

   customer_id           event_timestamp category  order_gmv     sex
0     10000000 1992-04-03 00:00:00+00:00      NaN        NaN     NaN
1            1 1992-04-02 00:00:00+00:00        3   7.250000    male
2            2 1992-04-02 00:00:00+00:00        1  71.283302  female
3            3 1992-04-02 00:00:00+00:00        3   7.925000  female
4            4 1992-04-02 00:00:00+00:00        1  53.099998  female
5          230 1992-04-03 00:00:00+00:00        3  25.466700  female

In [80]:
feature_vector = store.get_online_features(
    features=[
        "customer_hourly_stats:category",
        "customer_hourly_stats:order_gmv",
        "customer_hourly_stats:sex",
    ],
    entity_rows=[{"customer_id": 3}, {"customer_id": 2}, {"customer_id": 82323}],
).to_dict()

In [81]:
feature_vector

{'customer_id': [3, 2, 82323],
 'category': [3, 1, None],
 'order_gmv': [7.925000190734863, 71.2833023071289, None],
 'sex': ['female', 'female', None]}